<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h3>Powered by Perspective:</h3>
        <h1>An Ally's Toolkit</h1>
        <img alt="Office Building View" class="img-responsive text-center" src="/modules/core/client/img/building.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A narrative guide for practicing how to be a better ally against workplace sexism!
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="scenarioOne">Start your journey!</a>
      </p>
    </div>
  </div>
  <div>
    <h2>What would you do . . . ?</h2>
    <p>Ever wonder if you would know the right thing to say if a coworker says something sexist?</p>
    <p>This app is here to:</p>
    <ul>
      <li>
        Help you think through potential scenarios
        <em>beforehand</em> to avoid the deer-in-headlights effect.
      </li>
      <li>
        Weigh the pros and cons of different types of responses
      </li>
      <li>
        And be fully prepared the next time you want to stand up for the women around you.
      </li>
    </ul>
  </div>
  <div class="well">
    <h2>Further Reading:</h2>
    <p>
      Once you've explored the ideas here, take a look at some of these articles. Some of them are the sources from which we derived the principles guiding the scoring of responses:
      <ul>
        <li>
          <a target="_blank" href="http://voicemalemagazine.org/how-to-respond-to-sexist-remarks/">How to Respond to Sexist Remarks</a>
        </li>
        <li>
          <a target="_blank" href="https://www.themuse.com/advice/how-to-effectively-be-a-feminist-in-the-workplace">How to (Effectively) Be a Feminist in the Workplace</a>
        </li>
        <li>
          <a target="_blank" href="https://hbr.org/2017/02/how-to-respond-to-an-offensive-comment-at-work">How to Respond to an Offensive Comment at Work</a>
        </li>
        <li>
          <a target="_blank" href="https://www.nytimes.com/2017/07/12/opinion/real-men-might-get-made-fun-of.html">Real Men Might Get Made Fun Of</a>
        </li>
        <li>
          <a target="_blank" href="https://melmagazine.com/how-to-call-out-your-guy-friends-on-their-sexist-bullshit-a6805986b3c5">How to Call Out Your Guy Friends on Their Sexist Bullshit</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.
</section>
