<div class="container" ng-controller="ScenarioController as $ctrl">
  <h1>Scenario 2: The Job Interview</h1>
  <p>Meisha has an interview with you and your coworker, Bob, for a new entry level position. During the interview Bob constantly stares at Meisha’s belly and cuts her off asking, “will you really be able to perform the duties of this job?”</p>
  <ul>
    <li ng-repeat="option in $ctrl.scenarioOptions.scenarioTwo.dialogOptions" data-toggle="modal" data-target="#modal-scenario-two" ng-click="$ctrl.showResults(option, 'two')">{{option.text}}</li>
  </ul>
</div>
<div>
  <div class="modal fade" id="modal-scenario-two">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Results:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You said: {{$ctrl.choice.text}}</p>
          <h2>{{$ctrl.choice.stars}} STARS</h2>
          <h4>Pros of your choice:</h4>
          <ul>
            <li ng-repeat="pro in $ctrl.choice.pros"></li>
          </ul>
          <h4>Cons of your choice:</h4>
          <ul>
            <li ng-show="$ctrl.choice.cons" ng-repeat="con in $ctrl.choice.cons"></li>
            <li ng-hide="$ctrl.choice.cons">None!</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ui-sref="results">End the Day . . .</button>
        </div>
      </div>
    </div>
  </div>
</div>
