<div class="container" ng-controller="ScenarioController as $ctrl">
  <div ng-show="$ctrl.showOne">
    <div ng-hide="$ctrl.showingResults">
      <h1>Scenario 1: The Promotion Review</h1>
      <!-- <img src="" alt=""> -->
      <img alt="" class="img-responsive text-center" src="/modules/core/client/img/version2.png" />
      <p>Lucinda is interviewing for a promotion with you and your boss, Karl, and the interview is going fairly well, however, Karl seems to talk over Lucinda and undermines her achievements.</p>
      <ul>
        <li ng-repeat="option in $ctrl.scenarioOptions.scenarioOne.dialogOptions" ng-click="$ctrl.showResults(option)">{{option.text}}</li>
      </ul>
    </div>
    <div class="well" ng-show="$ctrl.showingResults">
      <h5>Results:</h5>
      <p>You said: {{$ctrl.choice.text}}</p>
      <h2>{{$ctrl.choice.value}} STARS</h2>
      <h4>Pros of your choice:</h4>
      <ul>
        <li ng-repeat="pro in $ctrl.choice.pros">{{pro}}</li>
      </ul>
      <h4>Cons of your choice:</h4>
      <ul>
        <li ng-show="$ctrl.choice.cons[0]" ng-repeat="con in $ctrl.choice.cons">{{con}}</li>
        <li ng-hide="$ctrl.choice.cons[0]">None!</li>
      </ul>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$ctrl.next()">Continue . . .</button>
    </div>
  </div>
  <div ng-show="$ctrl.showTwo">
    <div ng-hide="$ctrl.showingResults">
      <h1>Scenario 2: The Job Interview</h1>
      <p>Meisha has an interview with you and your coworker, Bob, for a new entry level position. During the interview Bob constantly stares at Meisha’s belly and cuts her off asking, “will you really be able to perform the duties of this job?”</p>
      <ul>
        <li ng-repeat="option in $ctrl.scenarioOptions.scenarioTwo.dialogOptions" data-toggle="modal" data-target="#modal-scenario-two" ng-click="$ctrl.showResults(option, 'two')">{{option.text}}</li>
      </ul>
    </div>
    <div class="well" ng-show="$ctrl.showingResults">
      <h5>Results:</h5>
      <p>You said: {{$ctrl.choice.text}}</p>
      <h2>{{$ctrl.choice.value}} STARS</h2>
      <h4>Pros of your choice:</h4>
      <ul>
        <li ng-repeat="pro in $ctrl.choice.pros">{{pro}}</li>
      </ul>
      <h4>Cons of your choice:</h4>
      <ul>
        <li ng-show="$ctrl.choice.cons[0]" ng-repeat="con in $ctrl.choice.cons">{{con}}</li>
        <li ng-hide="$ctrl.choice.cons[0]">None!</li>
      </ul>
      <button type="button" class="btn btn-secondary" ng-click="$ctrl.next()">Continue . . .</button>
    </div>
  </div>
  <div ng-show="$ctrl.showFinal">
    <div class="results_graphics_container">
      <h2>Your score is: {{$ctrl.score}} out of 6</h2>
    </div>
    <div class="results_text_container">
      <div class="results_text__header">
        <h3>Congratulations! You have completed the Powered By Prespectives: An Ally's Toolkit</h3>
      </div>
      <!-- <div class="results_text_body">
        Results information
      </div> -->
    </div>
  </div>
</div>
